

/*----------- TOP ---------------*/
.browser {
    width: 100vw;
    height: 38px;
    background-color: #dbdcdc ;
    position: relative;
    -webkit-app-region: drag;
}

.browser_title {  position: absolute;  font-family: "San Francisco Display"; font-size: 12px; color: #333 ; transform: translate(-50%, -50%);  left: 50%; top: 50%; }

.blocks_bar {
    position: relative;
    width: 100vw;
    height: 40px;
    background-color: #E6E6E6 ;
}
.top_left {
    position: relative;
    float: left;
    width: 264px;
}
.top_right {
    position: relative;
    float: right;
    width: 240px;
}
.blocks_container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 100%;
}


/*----------- BLOKKS ---------------*/
.block_element {
    float: left;
    border-radius: 1px;
    margin:7px 20px 0 0;
    background-size: cover;
    transition: width 0.3s ease, height 0.3s ease;
}
.block {
    position: relative;
    width: 74px;
    height: 26px;
    border-radius: 3px;
    transition: 0.3s all ease;
}
.speech_block {
    background: linear-gradient(to bottom right, #3224ae , #c56cd7);
}
.gesture_block {
    background: linear-gradient(to bottom right, #8DF4CB , #5DD5C2);
}
.rotate_block {
    background: linear-gradient(to bottom right, #f4ac5f, #d5532f);
}
.list_block {
    background-color: #157da4;
}

.block_name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "DIN Pro";
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 1px;
}
.block_toggle {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0%, -50%);
    color: white;
    font-family: "DIN Pro";
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 1px;
    display: none;
}

.block_speech_setting {
    position: absolute;
    bottom: 24px;
    left: 16px;
    color: white;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 1px;
    display: none;
}

.list_active_passive {
    position: absolute;
    bottom: 48px;
    left: 15px;
    color: white;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 1px;
    display: none;
}

.list_speech_setting {
    position: absolute;
    bottom: 24px;
    left: 16px;
    color: white;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 1px;
    display: none;
}

.block_dropdown {
    position: absolute;
    right: 10px;
    bottom: 16px;
    display: none;
}

.list_dropdown {
    position: absolute;
    right: 10px;
    bottom: 16px;
    display: none;
}

.states {
    margin: 0 auto;
    transition: width 0.3s ease, height 0.3s ease;
    display: none;
}
.list_elements {
    margin: 0 auto;
    transition: width 0.3s ease, height 0.3s ease;
    display: none;
}

.block_list {
    position: relative;
    width: 74px;
    height: 26px;
    border-radius: 3px;
    transition: 0.3s all ease;
}

.dragpoint_blocks {
    z-index: 2;
    position: relative;
    display: none;
    top: 25px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    opacity: 1;
    transition: 0.3s all ease;
}
.dragpoint_blocks:hover {
    transform: scale(1.4);
}
.dragpoint_ui {
    z-index: 2;
    position: relative;
    top: 25px;
    right: -153px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    opacity: 1;
    transition: 0.3s all ease;
}
.dragpoint_ui:hover {
    transform: scale(1.4);
}

.helper {
    width: 20px;
    height: 20px;

    border-radius: 50%;
    background-color: white;
    opacity: 0.5;
}

/*----------- LEFT ------------*/

.side_menu_left {
    position: absolute;
    left: 0;
    top: 78px;
    height: calc(100vh - 78px);
    width: 200px;
    background-color: #F0F0F0;
}
.list {
    position: relative;
    width: 200px;
    margin: 0 auto;
    transform: translate(0px, 20px);
}
.filter {
    position: absolute;
    bottom: 16px;
    left: 36px;
}


/*----------- RIGHT ------------*/

.side_menu_right {
    position: absolute;
    right: 0;
    top: 78px;
    height: calc(100vh - 78px);
    width: 224px;
    background-color: #F0F0F0;
}
.tools {
    position: relative;
    width: 224px;
    transform: translate(0px, 20px);
}

.blocks_browser {
    position: fixed;
    top: 82px;
    right: 0;
    height: calc(100vh - 82px);
    width: 12vw;
    background-color: #111;
    border: 1px solid white;
}



/*----------- Settings ------------*/


/*----------- Grid ------------*/
.grid {
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    z-index: -2;
    transform: translate(200px, 78px)
}