

/*----------- TOP ---------------*/
.topbar {
    width: 100vw;
    height: 22px;
    background-image: url("../img/menubar_ios.jpg");
    background-size: cover;
}
.browser {
    width: 100vw;
    height: 38px;
    background-color: #dbdcdc ;
}
.blocks_bar {
    width: 100vw;
    height: 40px;
    background-color: #E6E6E6 ;
}


.dragpoint {
    transform: translate(50px, -5px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    opacity: 0;
    transition: 0.3s all ease;
}

.dragpoint:hover {
    width: 15px;
    height: 15px;
}

.helper {
    width: 20px;
    height: 20px;

    border-radius: 50%;
    background-color: white;
    opacity: 0.5;
}

/*----------- LEFT ------------*/

.side_menu_left {
    position: absolute;
    left: 0;
    top: 100px;
    height: calc(100vh - 100px);
    width: 200px;
    background-color: #F0F0F0;
}
.list {
    position: relative;
    width: 184px;
    margin: 0 auto;
}
.filter {
    position: absolute;
    bottom: 16px;
    left: 36px;
}

.data_browser {
    top: 82px;
    left: 0;
    height: calc(100vh - 82px);
    width: 12vw;
    border: 1px solid white;
    z-index: -1;
}

.element1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: #5299FF;
    transition: width 0.3s ease, height 0.3s ease;
}

/*----------- RIGHT ------------*/

.side_menu_right {
    position: absolute;
    right: 0;
    top: 100px;
    height: calc(100vh - 100px);
    width: 224px;
    background-color: #F0F0F0;
}
.tools {
    position: relative;
    width: 192px;
    margin: 0 auto;
}

.blocks_browser {
    position: fixed;
    top: 82px;
    right: 0;
    height: calc(100vh - 82px);
    width: 12vw;
    background-color: #111;
    border: 1px solid white;
}

.block {
    background-color: #222;
    width: 100%;
    height: 100px;
    border: 1px solid #444;
}

.block_element {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-size: cover;
    transition: width 0.3s ease, height 0.3s ease;
}

.speech {
    background-image: url("../img/Speech_Block.svg");
}
.gesture {
    background-image: url("../img/Gesture_Block.svg");
}

.settings {
    width: 40px;
    height: 60px;
    margin: 20px auto 0;
    background-image: url("../img/settings.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: width 0.3s ease, height 0.3s ease;
    opacity: 0;
}

/*----------- Settings ------------*/


/*----------- Grid ------------*/
.grid {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/grid.svg");
    background-size: cover;
    background-position: center;
    z-index: -2;
}